<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<% @artists.each do |artist| %>
  <div class="novel-item">
    <div class="inline cover">
      <img class="small-cover" src="<%= artist.image.thumbnail.url %>"/>
    </div>
    <div class="inline details">
      <h3><%= link_to artist.name, artist %></h3>
    </div>
  </div>
<% end %>
